<div class="modal-header">
  <h4 class="modal-title pull-left">
    <i class="fa fa-user-plus" style="color:#177dd1"></i> {{title}}
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  {{feedback}}
</div>