.sort-list {
    position: absolute;
    top: 46px;
    background-color: #fff;
    -webkit-box-shadow: 2px 7px 38px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 38px -8px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 38px -8px rgba(0,0,0,0.75);
    min-width: 110px;
}

.white-list-table th {
    position: relative;
}

.sort-list li {
    color: #333;
    display: block;
    padding: 10px 15px;
}

.sort-list li:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.sort-list li.active {
    background-color: #f2f2f2;
    cursor: default;
}

.th-datastatus:hover, .th-datastatus:focus {
    cursor: pointer;
}