<div class="table-responsive row">
  <table class="table table-bordered white-list-table">
    <thead>
      <tr>
        <th>Prefix</th>
        <th><span class="th-datastatus" (click)="showFirstNameSortOptions()">First Name <i class="fa fa-caret-down fa-2" aria-hidden="true"></i>
          <ul class="list-unstyled sort-list"  *ngIf="sortWithFirstName">
            <li [ngClass]="{active: isActive('List A-Z') && columnProperty=='FirstName'}" (click)="sortUsers(1, 'FirstName'); selectedClass('List A-Z')">List A-Z</li>
            <li [ngClass]="{active: isActive('List Z-A') && columnProperty=='FirstName'}" (click)="sortUsers(-1, 'FirstName'); selectedClass('List Z-A')">List Z-A</li>
          </ul>
        </span>
        </th>
        <th><span class="th-datastatus" (click)="showLastNameSortOptions()">Last Name <i class="fa fa-caret-down fa-2" aria-hidden="true"></i>
          <ul class="list-unstyled sort-list"  *ngIf="sortWithLastName">
            <li [ngClass]="{active: isActive('List A-Z') && columnProperty=='LastName'}" (click)="sortUsers(1, 'LastName'); selectedClass('List A-Z')">List A-Z</li>
            <li [ngClass]="{active: isActive('List Z-A') && columnProperty=='LastName'}" (click)="sortUsers(-1, 'LastName'); selectedClass('List Z-A')">List Z-A</li>
          </ul>
          </span>
        </th>
        <th><span class="th-datastatus" (click)="showFilterOptions()">Status <i class="fa fa-caret-down fa-2" aria-hidden="true"></i>
          <ul class="list-unstyled sort-list" *ngIf="filterWithStatus">
            <li [ngClass]="{active: isActive('All')}" (click)="filterByStatus('All'); selectedClass('All')">All</li>
            <li [ngClass]="{active: isActive('Active')}" (click)="filterByStatus('Active'); selectedClass('Active')">Active</li>
            <li [ngClass]="{active: isActive('Inactive')}" (click)="filterByStatus('Inactive'); selectedClass('Inactive')">Inactive</li>
            <li [ngClass]="{active: isActive('Invited')}" (click)="filterByStatus('Invited'); selectedClass('Invited')">Invited</li>
            <li [ngClass]="{active: isActive('Added')}" (click)="filterByStatus('Added'); selectedClass('Added')">Added</li>
          </ul>
          </span>
        </th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="!totalUsers && !globals.loading">
        <td class="text-danger text-center" colspan="4">
          <strong>No Records Found</strong>
        </td>
      </tr>

      <tr *ngFor="let whiteListUser of filteredUsers">
        <td>{{whiteListUser.Prefix}}</td>
        <td>{{whiteListUser.FirstName}}</td>
        <td>{{whiteListUser.LastName}}</td>
        <td>{{whiteListUser.Status}}</td>
      </tr>
    </tbody>
  </table>


</div>
<div class="container-fluid">
  <h3 class="pull-left">
    {{totalUsers}} Users
  </h3>
  <a (click)="buildUserForm(); userModalPopup.show()" class="btn btn-primary pull-right">
    <i class="fa fa-plus"></i>
      Add New User
  </a>
</div>

<div class="modal fade" bsModal #userModalPopup="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="usersForm.reset(); userModalPopup.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usersForm">
          <ul class="list-unstyled form-builder" formArrayName="users" *ngFor="let item of usersForm.get('users').controls; let i = index;">
            <li [formGroupName]="i">
              <div class="row">
                <div class="form-group col-sm-6 col-xs-12">
                  <select class="form-control" formControlName="Application">
                    <option value="" disabled="true" selected>Select Application</option>
                    <option *ngFor="let Application of Applications" [value]="Application">{{Application}}</option>
                  </select>
                  <div *ngIf="formErrors[i].Application" class="alert alert-danger">
                    {{ formErrors[i].Application }}
                  </div>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                  <input pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" formControlName="EmailAddress" placeholder="Email Address">
                  <div *ngIf="formErrors[i].EmailAddress" class="alert alert-danger">
                    {{ formErrors[i].EmailAddress }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-2 col-xs-12">
                  <select class="form-control" formControlName="Prefix">
                    <option value="" disabled="true" selected>Prefix</option>
                    <option *ngFor="let Prefix of Prefixes" [value]="Prefix">{{Prefix}}</option>
                  </select>
                  <div *ngIf="formErrors[i].Prefix" class="alert alert-danger">
                    {{ formErrors[i].Prefix }}
                  </div>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                  <input 
                    maxlength="25"
                    pattern="[a-zA-Z0-9]*"
                    class="form-control" formControlName="FirstName" placeholder="First Name">
                  <div *ngIf="formErrors[i].FirstName" class="alert alert-danger">
                    {{ formErrors[i].FirstName }}
                  </div>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                  <input 
                    maxlength="25"
                    pattern="[a-zA-Z0-9]*"
                    class="form-control" formControlName="LastName" placeholder="Last Name">
                  <div *ngIf="formErrors[i].LastName" class="alert alert-danger">
                    {{ formErrors[i].LastName }}
                  </div>
                </div>
                <div class="form-group col-sm-2 col-xs-12">
                  <button *ngIf="usersForm.get('users').length > 1" class="btn btn-primary" (click)="removeUser(i)">Delete</button>
                </div>
              </div>
            </li>
          </ul>
          <button [disabled]="!usersForm.valid || usersForm.get('users').length >= 10" class="btn btn-primary" (click)="addUser()">Add Another Record</button>
        </form>
        <div class="modal-footer row">
          <div class="col-sm-5 col-xs-12 col-sm-offset-1">
            <button [disabled]="!usersForm.valid" type="button" class="btn btn-primary btn-block" (click)="addNewWhiteListUsers(usersForm.value, false)">Add</button>
          </div>
          <div class="col-sm-5 col-xs-12">
            <button [disabled]="!usersForm.valid" type="button" class="btn btn-primary  btn-block" (click)="addNewWhiteListUsers(usersForm.value, true)">Add & Invite</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>