.loader-bg {
  text-align: center;
  color: #fff;
  position: fixed;
  top:50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  z-index: 4;
}

.loading-patch {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
}
