<div class="view-container">

  <app-header></app-header>

  <main class="container-fluid main-section">
    <app-admin></app-admin>
  </main>

  <!-- <app-footer></app-footer> -->

  <div [hidden]="!globals.loading">
    <div class="loading-patch"></div>
    <div class="loader-bg">
      <i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>