<header class="header" id="header-nav">
  <nav class="container-fluid">
    <ul class="pull-left list-inline header-nav">
      <li>
        <a href="#">
        <span class="dh-logo">BNI Curbside Admin Portal</span>
        </a>
        <!--<a href="#" style="margin-top:15px;">
          <h3>BNI Curbside Admin Portal</h3>
        </a>-->
      </li>
    </ul>
  </nav>
</header>