#header-nav {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: #097288;
  height: 80px;
}

.header-nav {
  margin: 0;
}

.dh-logo {
  background: url('/assets/images/dignity-health-logo.png') 0 0 no-repeat;
  background-size: 216px auto;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 216px;
  height: 42px;
  margin-top: 14px;
}

.header-nav>li a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}



@media (max-width:480px) {}

