<div class="row row-eq-height">
  <div class="col-md-2">
    <div class="row">
      <app-navigation></app-navigation>
    </div>
  </div>

  <div class="col-md-10 main-content">
    <router-outlet></router-outlet>
  </div>
</div>