.dn-nav>.navbar-default {
  background-color: #f2eeeb;
  border-top: 0;
  border-radius: 0;
  min-height: 20px;
  border: 0px;
}


.dn-nav .navbar-nav {
  float: none;
}

.dn-nav>.navbar-default .navbar-nav>li>a {
  color: #4b4b4b;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  cursor: pointer;
}

.dn-nav>.navbar-default .navbar-nav>li>a.active,
.dn-nav>.navbar-default .navbar-nav>li>a.active:focus {
  color: #4b4b4b;
}

.dn-nav>.navbar-default .navbar-nav>li>a.active:hover,
.dn-nav>.navbar-default .navbar-nav>li>a:focus,
.dn-nav>.navbar-default .navbar-nav>li>a:hover {
  color: #4b4b4b;
}

.dn-nav .nav-dropdown {
    position: relative;
    border: 0;
    background-color: #097288;
    border-radius: 0;
    -webkit-border-radius:0;
    box-shadow: none;
    margin: 0;
    width: 100%;
    padding: 0;

}

.dn-nav .nav-dropdown li a.active {
  font-weight: 600;
}

.dn-nav .nav-dropdown li a.active:hover,
.dn-nav .nav-dropdown li a:focus,
.dn-nav .nav-dropdown li a:hover {
  color: #fff;
  background-color: transparent;
}

.dn-nav .nav-dropdown li a {    
  padding: 12px 16px;
  color: #fff;
  display: block;
   
}

.dn-nav .nav>li {
    overflow: hidden;
}

.bni-icon {
  background: url('/assets/images/bni-icon.png') 0 0 no-repeat;
  background-size: 30px 26px;
  width: 30px;
  height: 26px;
  float: left;
  margin-right: 10px;
}

.dn-nav .navbar-default .navbar-nav>.open>a, 
.dn-nav .navbar-default .navbar-nav>.open>a:focus, 
.dn-nav .navbar-default .navbar-nav>.open>a:hover {
  background-color: transparent;
}

.hamburger-button {
  color: #fff;
  margin-top: 26px;
  font-size: 20px;
  padding: 0;
  position: absolute;
  top: -84px;
  z-index: 3;
  right: 15px;
}

.hamburger-button {
  color: #fff;
  margin-top: 26px;
  font-size: 20px;
  padding: 0;
  position: absolute;
  top: -84px;
  z-index: 3;
  right: 15px;
}

.hamburger-button:focus{
  outline: 0;
}

.hamburger-close {
   position: absolute;
   z-index: 101;
   top: -78px;
   right: 0px;
}

@media screen and (min-width:768px) {
  .dn-nav>.navbar-default .navbar-nav>li {
  margin-left: -15px;
  margin-right: -15px;
  float: none;
}

}
@media screen and (min-width:1024px) {
  .fixed-navigation {
    position: fixed;
    width: 16.666%;
    height: 100%;
  }
}
