<button class="btn btn-link hamburger-button visible-xs" (click)="navStatus()">
        <i class="fa fa-bars fa-2" aria-hidden="true"></i>
        </button>
<button class="btn btn-link hamburger-close visible-xs" (click)="navStatusClose()">
        <i class="fa fa-bars fa-2" aria-hidden="true"></i>
        </button>
<div class="dn-nav" *ngIf="navToggle? 'openNav' : 'closeNav'" [ngClass]="navStatus? 'openNav' : 'closeNav'">

  <nav class="navbar navbar-default fixed-navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="visible-xs">
          &nbsp;
        </li>
        <li>
          <a (click)="changeNavigationStatus()"><span class="bni-icon"></span> BNI Submitter</a>
          <ul class="nav-dropdown" *ngIf="navigationShowHide">
            <li><a routerLink="/whitelist-users" routerLinkActive="active">Users</a></li>
            <li><a routerLink="/whitelist-domains" routerLinkActive="active">Domains</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>