/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #656565;
  line-height: 1;
  height:100%;
  width:100%;
}

.wrapper {
	/* Layout wrapper */
    min-height:100%; 
    position:relative;
    
}

img { 
	/* image Responsiveness */
    max-width: 100%;
    height: auto;
}

/* Basic Anchor links for complete app */
a {
   color:#59b7e7;
   background-color: transparent;
}

a:hover, a:focus {
    color: #1f97d5;
    text-decoration: none;
    
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/* End of Anchor links */

/* heading common margin and padding */
h1, h2, h3, h4, h5 {
    margin: 0 0 14px 0;
    padding: 0;
}

h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}

/* For fixed footer */
.view-container {
   padding-bottom:60px;
   overflow: hidden;
}

#content {
    position: relative;
}

.btn-dh {
     border-color: #2972b1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #2972b1;
    color: #ffffff;
}
.btn-dh:hover,
.btn-dh:focus{
    background-color: #2972b1;
    border-color: #2972b1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}

.btn-dh:active{
    background-color: #143a5a;
    border-color: #143a5a;
}

.white-list-table {
  background-color: #ffffff;
  border:0;
}
.white-list-table thead tr{
    background-color: #474b4e;
    border: 0;
    color: #fff;

}
.white-list-table thead th {
    font-weight: normal;

}

.white-list-table.table-bordered>tbody>tr>td, 
.white-list-table.table-bordered>thead>tr>th {
    border-right: 0;
    border-left: 0;
}

.white-list-table.table-bordered>tbody>tr>td, 
.white-list-table.table-bordered>tbody>tr>th, 
.white-list-table.table-bordered>tfoot>tr>td,
.white-list-table.table-bordered>tfoot>tr>th, 
.white-list-table.table-bordered>thead>tr>td, 
.white-list-table.table-bordered>thead>tr>th
{
    padding: 20px 20px;
}
.white-list-table.table-bordered>tbody>tr:first-child {
    border-top: 0;
}

.text-orange {
    color: #EA7931;
}

.main-section {
    margin-top: 80px;
}

.alert-danger{
    margin-top: 15px;
}
.modal-header{
    border-bottom: 2px solid #8bbee8;
}
.modal-footer{
    border-top: 2px solid #8bbee8;
}
.dropdown-menu{
    z-index: 0 !important;
}

.modal-content{
    border-radius: 0;
    box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.form-control{
    border: 0;
    border-bottom: 2px solid #a3a5a6;
    border-radius: 0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    padding-left: 0;
    box-shadow:none;
}

.form-control:focus {
    box-shadow:none;
    border-color: #a3a5a6;
}

.modal-header {
    border-bottom:0;
    padding-bottom: 0;
}

.modal-footer {
    border-top:0;
}

.btn.disabled, 
.btn[disabled], 
fieldset[disabled] .btn,
.btn-primary.disabled.focus, 
.btn-primary.disabled:focus, 
.btn-primary.disabled:hover, 
.btn-primary[disabled].focus, 
.btn-primary[disabled]:focus, 
.btn-primary[disabled]:hover, 
fieldset[disabled] .btn-primary.focus, 
fieldset[disabled] .btn-primary:focus, 
fieldset[disabled] .btn-primary:hover {
    background-color: #ffffff;
    border-color: #097288;
    color: #097288;
    opacity: 1;
}

.btn-primary {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: #097288;
    border-color: #097288;
    color: #ffffff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
    background-color: #097288;
    border-color: #097288;
    color: #ffffff;
}

.modal-body .form-group {
    margin-bottom: 26px;
}

.form-builder li {
    padding-top: 30px;
}

.form-builder li:first-child {
    padding-top:0px;
}

/* media Screen for desktop */

@media screen and (min-width: 1280px) {

  .container {
      width: 1250px;
  }
}

@media screen and (min-width:768px) {
      .table-responsive {
        border: 0;
        overflow: visible;
}
}

@media screen and (max-width:767px) {
    .table-responsive {
        border: 0;
    }
    .table-responsive>.table-bordered{
        border: 1px solid #dddddd;
    }

    .dn-nav
     {
        background-color: #f2eeeb;
        position: fixed;
        z-index: 100;
        top: 0px;
        width: 100%;
        height: 100%;
     }
     
    .openNav {
        transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        left: 0; 
        overflow: hidden;
    }
    
    .closeNav {
        transition: .5s;
        -moz-transition: .5s;
        -webkit-transition: .5s;
        left: -103%;
    }
}

/* end of media Screen desktop*/
